$guild-padding-top: 15px;
$guild-profile-height: 10vh;

.profilePic {
    padding-top: $guild-padding-top;
}

.userName {
    padding-top: $guild-padding-top;
}

.profileImage {
    border-radius: 10vh;
    width: 4vw;
}

.profile {
    height: $guild-profile-height;
}

.profileName {
    font-size: 1em;
}


.logout {
    border-left: 1px solid #72D687;
    border-right: 1px solid #72D687;
    font-size: 20px;
    background-color: #424242;
    padding-top: $guild-padding-top;
    padding-left: 1vw;
}

.profile .logout a {
    color: #aaa;
}

.profile .logout .version {
    font-size: 10px;
    display: block;
    position: absolute;
    bottom: 0px;
}

.profile .logout a:hover {
    color: #b0aba0;
}