html {
  height: 100%;
}
body {
  color: #222;
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 200;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  max-height: 100%;
  min-width: 100%;
  max-width: 100%;
}

.row {
	margin-left: 0px;
	margin-right: 0px;
}
.react-draggable, .cursor {
  cursor: move;
}
.no-cursor {
  cursor: auto;
}
.cursor-y {
  cursor: ns-resize;
}
.cursor-x {
  cursor: ew-resize;
}
.react-draggable strong {
  background: #ddd;
  border: 1px solid #999;
  border-radius: 3px;
  display: block;
  margin-bottom: 10px;
  padding: 3px 5px;
  text-align: center;
}
.box {
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
  width: 180px;
  height: 180px;
  margin: 10px;
  padding: 10px;
  float: left;
}

.bg-dark {
    background-color: #212121!important;
}

.bg-bright {
    background-color: #BDBDBD!important;
}

#footer {
  min-height: 5vh;
  background-color: #797979;
}
.react-resizable {
  position: relative;
}
.react-resizable-handle {
  position: absolute;
  width: 20px;
  height: 20px;
  bottom: 0;
  right: 0;
  background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCA2IDYiIHN0eWxlPSJiYWNrZ3JvdW5kLWNvbG9yOiNmZmZmZmYwMCIgeD0iMHB4IiB5PSIwcHgiIHdpZHRoPSI2cHgiIGhlaWdodD0iNnB4Ij48ZyBvcGFjaXR5PSIwLjMwMiI+PHBhdGggZD0iTSA2IDYgTCAwIDYgTCAwIDQuMiBMIDQgNC4yIEwgNC4yIDQuMiBMIDQuMiAwIEwgNiAwIEwgNiA2IEwgNiA2IFoiIGZpbGw9IiMwMDAwMDAiLz48L2c+PC9zdmc+');
  background-position: bottom right;
  padding: 0 3px 3px 0;
  background-repeat: no-repeat;
  background-origin: content-box;
  box-sizing: border-box;
  cursor: se-resize;
}

.notes li:first-of-type {
    border-top: none;
}

.notes li:last-of-type {
    border-bottom: none;
}

html,
body {
  height: 100%;
  margin: 0
}

nav {
  min-height: 60px;
  max-height: 60px;
}

.profile {
    height: 99px;
}


.profile .logout {
    border-left: 1px solid #72D687;
    border-right: 1px solid #72D687;
    font-size: 20px;
    background-color: #424242;
    padding-top: 15px;
    padding-left: 1vw;
}

.profile .logout a {
    color: #aaa;
}

.profile .logout .version {
    font-size: 10px;
    display: block;
    position: absolute;
    bottom: 0px;
}

.profile .logout a:hover {
    color: #b0aba0;
}

.profile .profilePic {
    padding-top: 15px;
}

.profile .userName {
    padding-top: 15px;
}

.nothing-playing:before {
    content: "\f144";
    font-family: FontAwesome;
    top: 0;
    font-size: 40vh;
    color: #424242;
    z-index: 1;
    height: 50vh;
    width: 100%;
    position: absolute;
    margin-left: 20vw;
    margin-top: -6vh;
}
.nothing-playing {
    background-size: cover;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: 50%;
}

.nothing {
    font-size: 24px;
    padding-top: 23vh;
    color: #424242;
    padding-left: 27vw;
    width: 100%;
    z-index: 3;
}

.hidden {
	display: none;
}
.no-padding {
    padding: 0px;
}
#sendMessageInput {
    display: inline-block;
    background-color: transparent;
    border-radius: 0px;
    height: 66px;
    color: #ffffff;
    border: 1px solid #4e4e4e;
}
.form-control:focus {
    border-color: #72D687;
    box-shadow: 0 0 0 0.2rem rgba(114,214,135,.25);
}

#sendMessageButton {
    width: 100%;
    border-radius: 0px;
}

.container-fluid {
	padding-left: 0px;
    padding-right: 0px;
    margin-top: 60px;
}

.left-half {
    border-right: 2px solid #72D687;
}

.dj {
    height: calc(100vh - 60px);
    display: flex;
    flex-flow: column;
}

.dj .row.video {
  flex: 0 1 auto;
  height: 50vh;
  background-color: #1A1A1D;
}

.dj .row.time {
  flex: 0 1 auto;
  text-align: center;
  background-color: #2f3136;
  height: 30px;  
}

.dj .row.info {
  flex: 1 1 40px;
  background-color: #36393e;
  background-image: linear-gradient(to bottom, #51545b, #484b51, #404248, #37393f, #2f3136);
  min-height: 30vh;
  max-height: 42vh;
}

.youtubeContainer {
    position: relative;
    width: 100%;
    height: auto;
	padding-left: 0px;
	padding-right: 0px;
}

.youtubeEmbed {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40vh;
}

.chat {
    margin-bottom: 37px;
}

.chat .userName {
    min-height: 10vh;
}

.chat .messageInput input {
    min-height: 2vh;
}

.chat .sendButton button {
    min-height: 2vh;
}


.chatRoom {
    background-color: #2f3136;
    padding-left: 0px;
    padding-right: 0px;
    height: calc(100vh - 60px);
}
.chatMessages {
    min-height: 75vh;
    max-height: 75vh;
    padding-left: 10px;
    padding-right: 10px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

.chatFooter {
    max-height: 15%;
    border-top: 1px solid #ffffff;
    padding-top: 30px;
}

.roomInfo {
    text-align: center;
    font-size: 12px;
    color: #aaa;
}

.chatTitle {
    font-size: 24px;
    font-family: 'Raleway';
	background-color: #dadada;
	width: 100%;
	padding: 15px;
    max-height: 15vh;
    text-align: center;
}

.message {
    color: #fff;
}
.message.server {
	color: #72D687;
}

.message :not(:first-child){
    padding-bottom: 10px;
}

.message .author {
    display: inline;
    font-family: 'Raleway';
    font-size: 20px;
}
.message .timestamp {
    font-size: 12px;
    display: inline;
    margin-left: 4px;
    color: #8c8c8c;
}

p {
	display: inline;
}
.skip {
    color: #72D687;
}
.skip p {
    padding-left: 1vw;
}

.skip:hover {
    color: #777;
}
.white {
	color: #fff;
}

.footer {
	background-color: #eee
}

#NameLabel {
	font-family: 'Open Sans', sans-serif;
	font-weight: 200;
	width: 10%;
}


.navbar-brand {
	font-family: 'Raleway', sans-serif;
	font-size: 24px;
}

p.date {
	color: #c5c5c5;
	font-size: 16px;
}

p.dateTimeSeperator {
	color: #fff;
    margin-left: 6px;
    font-size: 10px;
}

p.time {
	color: #fff;
	font-size: 16px;
	margin-left: 6px;

}

/* PLAYER */
.nowPlayingBar {
	min-height: 40px;
	background-color: #949494;
	padding-top: 5px;
	padding-bottom: 5px;

}
.nowPlayingBar div {
	color: #fff;
	
	/* This centers the text div inside of the bar */
	display: table;
	margin: 0 auto;

}

.timeRemainingText { 
	padding-top: 5px;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 12px;
    margin: 0 auto;
    width: 100%;
}

.progress {
    border-radius: 0px;
    background-color: #2f3136;
}

.progress-bar {
    background-color: rgba(114,214,135, 1);
}

.progress.timeRemainingBar {
    width: 100%;
    color: #ffffff;
    height: 30px;
    border-right: 0px;
}

.queue {
    background-image: linear-gradient(to bottom, #51545b, #484b51, #404248, #37393f, #2f3136);
}
.songQueue {
}
.songQueue {
    padding-top: 15px;
    padding-left: 0px;
    color: #ffffff;
}
.queue-item .queue-number.first {
    color: #ffffff;
}
.queue-item .queue-number {
    color: #5a5a5a;
}

.guildQueue {
    overflow-y: scroll;
    min-height: calc(90vh - 50px);
    max-height: calc(90vh - 50px);
    background-color: #2f3136;
}

.guildQueue .guildNoIcon {
    font-size: 25px;
    padding-left: 0.5vw;
}

.about {
    position: absolute;
    bottom: 0px;
    height: 100px;
    border-top: solid 1px #72D687;
    vertical-align: text-bottom;
    width: 100%;
    background-color: #424242;
    margin-top: 5%;
}

.header {
    text-align: center;
    font-size: 20px;
    color: #fff;
    padding-top: 2vh;
    font-family: 'Raleway';
}

.songQueue li {
    padding-top: 10px;
    font-family: 'Open Sans';
    padding-bottom: 10px;
}

.songQueue li:not(:last-child) {
    border-bottom: 2px solid #5a5a5a;
}

.songQueue li ::after {
    border-bottom: 1px solid #ffffff;
}

.listItem.active {
    background-color: rgba(79,84,92,.6);
}

.listItem .name {
    display: inline;
    font-size: 20px;
}

.listItem .type {
    display: inline;
}

.listItem .type a {
    color: inherit;
}
.listItem .type a:hover {
    color: #888888;
}
.listItem .link {
    display: inline;
}

.listItem img {
    height: 40px;
    width: 40px;
    border-radius: 5px;
    -moz-transition: all .3s;
    -o-transition: all .3s;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.listItem img:hover {
    border-radius: 15px;
}


.DjQueue {
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 40.5vh;
    min-height: 40.5vh;
}

.DjQueue .header {
    font-size: 20px;
    color: #fff;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-family: 'Raleway';
    border-bottom: 1px solid #72D687;
    max-height: 6.5vh;
}

i.fab {
  color: #aaa;
}
i.fab:hover {
  color: #ccc;
}

i.fas {
  color: #aaa;
}
i.fas:hover {
  color: #ccc;
}