.logoImg {
    max-height: 40vh;
    max-width: 40vh;
}

.ctaSection {
    text-align: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    padding-top: 10em;
    background-image: url(/img/miraqi_banner.svg);
    background-size: cover;
    background-position-x: -10vw;
}

.ctaContent {
    margin-top: 10vh;
}

.banner {
    float: left!important;
    padding-left: 5vw;
}

.logoDescription {
    float: left!important;
    font-size: 30px;
    margin-top: 20vh;
}

.logoFineDescription {
    margin: 0 auto;
    display: inline;
}

.loginButton {
    margin: 0 auto;
    margin-top: 5vh;
}

.brandName {
    font-size: 70px;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    margin-top: 15vh;
    text-shadow: 1px 2px 7px #444;
}

.feature1 {
    padding-top: 20vh;
    text-align: center;
    height: 60vh;
    background-color: #000614;
    background-repeat: repeat;
    background: rgb(120,120,120);
    background: linear-gradient(180deg, rgba(120,120,120,1) 0%, rgba(79,79,79,1) 100%);
}
  
.cloud1 {
    position: absolute;
    top: 80px;
    z-index: 100;
    -webkit-animation: move 20s linear infinite;
    -moz-animation: move 20s linear infinite;
    -o-animation: move 20s linear infinite;
    animation: move 20s linear infinite;
}

.cloud2 {
    position: absolute;
    top: 140px;
    z-index: 200;
    -webkit-animation: move 50s linear infinite backwards;
    -moz-animation: move 50s linear infinite backwards;
    -o-animation: move 50s linear infinite backwards;
    animation: move 50s linear infinite backwards;
}

@-webkit-keyframes move {
    from {
        -webkit-transform: translateX(-1000px);
    }
    to {
        -webkit-transform: translateX(1350px);
    }
}
  