@import '../../../styles/main.module.scss';

$guild-padding-top: 15px;
$guild-profile-height: 110px;

.profile {
    height: $guild-profile-height;
}

.guild_header {
    font-size: 20px;
    color: #fff;
    padding-left: 3vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-family: 'Raleway';
    background-color: $brand-dark-1;
    border-top: 1px solid $brand-dark-3;
    height: $SIDEBAR-HEADER-HEIGHT;
}

.guild_container {
    overflow-y: scroll;
    height: $SCROLLABLE-CONTENT-HEIGHT;
    background-color: $brand-dark-2;

    .guild_list { 
        padding-top: 15px;
        padding-left: 0px;
        color: #ffffff;

        li {
            padding-top: 10px;
            font-family: 'Open Sans';
            padding-bottom: 10px;

            img {
                height: 40px;
                width: 40px;
                border-radius: 5px;
                -moz-transition: all .3s;
                -o-transition: all .3s;
                -webkit-transition: all .3s;
                transition: all .3s;
            }
        }
        li:not(:last-child) {
            border-bottom: 2px solid $brand-dark-1;
        }

        .guild_no_icon {
            font-size: 25px;
            padding-left: 0.5vw;
        }
        
    }
}

.guild_profile_container {
    position: absolute;
    bottom: 0px;
    height: 110px;
    width: 100%;
    background-color: $brand-dark-1;

    .user_info {
        padding-top: 1em;

        span {
            display: block;
            font-size: 13px;
            left: 15%;
        }
        span.user_name {
            font-size: 30px;
        }
        span.user_discriminator {
            margin-top: 10px;
        }
    }

    a:hover {
        color: $brand-hover;
    }
    
    .logout {
        a {
            font-size: 20px;
        }

        padding-top: $guild-padding-top;
        padding-left: 1vw;
        font-size: 12px;
        position: absolute;
        bottom: 3px;
        right: 8px;
        text-align: right;
    }

    .app_version {
        color: $brand-dark-3;
        display: block;
    }

    .profile_image {
        border-radius: 45px;
        height: 90px;
        width: 90px;
        padding: 10px;
        margin-top: 10px;
    }
}
